diffusers[torch]==0.30.0
accelerate
torch==2.4.0
transformers==4.44.2
xformers==0.0.27.post2

invisible_watermark # To help viewers identify the images as machine-generated.
safetensors==0.4.4 # To store tensors safely.
controlnet_aux

Pillow
pillow-avif-plugin # To save images in AVIF format.
pyyaml # To read the configuration file by written YAML.
peft