invisible_watermark
accelerate
diffusers[torch]==0.24.0
onnxruntime==1.17.3
safetensors==0.4.1
torch==2.1.0
transformers==4.39.1
xformers==0.0.22.post7

realesrgan==0.3.0
basicsr>=1.4.2
facexlib>=0.3.0
gfpgan>=1.3.8
scipy==1.12.0
opencv-python
Pillow
pillow-avif-plugin
torchvision
tqdm

controlnet_aux
pyyaml

# Use the below in 'download_from_original_stable_diffusion_ckpt'.
omegaconf==2.3.0

peft