diffusers[torch]==0.30.3
accelerate
torch==2.4.1
transformers==4.45.2
xformers==0.0.28.post1

invisible_watermark # To help viewers identify the images as machine-generated.
safetensors==0.4.5 # To store tensors safely.
controlnet_aux

Pillow
pillow-avif-plugin # To save images in AVIF format.
pyyaml # To read the configuration file by written YAML.
peft