name: Docker image CI

on:
  push:
    paths:
      - app/Dockerfile
      - app/requirements.txt

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: |
          cd setup_files
          docker build . -f Dockerfile
