name: Docker image CI

on:
  push:
    paths:
      - app/Dockerfile
      - app/requirements.txt
      - .github/workflows/docker_image_ci.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image
        run: |
          cd app
          docker build . -f Dockerfile
